#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  margin: 0;
  background: #f5f7fb;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: #293264;
}

main {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 750px;
  min-width: 200px;
  width: 80%;
  height: fit-content;
  padding: 3rem;

  background-color: #f5f7fb;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #999;
  background-image: url("./images/background/blue.png"),
    url("./images/background/yellow.png");
  background-position: left bottom, top right, bottom right;
  background-repeat: no-repeat;
  background-size: 30%;
}

.button-contaner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 0;
}

button {
  background: #4d5b9e;
  color: #f5f7fb;
  font-family: Inter;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0em;
  padding: 1em 2em;
  border-radius: 0.9em;
  border: none;
  width: fit-content;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

button:disabled {
  background-color: #d2d2d2;
  box-shadow: inset 1px 1px 1px -1px rgba(0, 0, 0, 0.7);
}

/* Start Page */
.startPage-container {
  display: flex;
  flex-direction: column;
}

select {
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 1em;
  cursor: pointer;
  border: none;
  background: #4d5b9e;
  color: #f5f7fb;
  text-align: left;
}

select option:checked {
  text-align: center;
}

input {
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border: none;
  background: #4d5b9e;
  color: #f5f7fb;
  text-align: center;
  width: 3em;
}

.startPage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startingPageDescription-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  color: #4d5b9e;
}

.startPage-container h1 {
  color: #4d5b9e;
  font-family: Karla;
  font-size: 3rem;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 0 0.5em 0;
}

.startPage-container label {
  text-align: center;
  margin-bottom: 0.1em;
  color: #4d5b9e;
}

.quizDescription {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.line {
  border-bottom: 0.79px solid #dbdef0;
  margin: 0.8em 0;
}

/* Quiz page */
.category-container {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5em;
}
.score-container {
  margin: 0;
  padding-top: 1.5em;
  text-align: center;
}

/* Custom Radio Button */
.answers-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  margin: 1.2em 0;
}

.radio-container {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
}
input[type="radio"] {
  display: none;
}

.radio-label {
  margin: 0;
  padding: 0.4em 1.5em;
  border: 0.79px solid #4d5b9e;
  background: #f5f7fb;
  border-radius: 1em;
  cursor: pointer;

  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0em;
  display: inline-block;
  text-align: center;
}

input[type="radio"]:checked + .radio-label {
  background: #d6dbf5;
  border: none;
}

.correctAnswer {
  background: #94d7a2;
  border: none;
}

input[type="radio"]:checked + .radio-label.correctAnswer {
  background: #94d7a2;
  border: none;
}

input[type="radio"]:checked + .radio-label.wrongAnswer {
  background: #f8bcbc;
  border: none;
}
